---
import PageLayout from "../../../layouts/PageLayout.astro";
import {
    fetchPublications,
    obtainPostsWithCategory,
} from "../../../scripts/post-script";

export async function getStaticPaths() {
    const publications = await fetchPublications();
    const uniqueCats = [
        ...new Set(publications.map((post) => post.data.categories).flat()),
    ];
    // 筛选出符合tag的推文
    return uniqueCats.map((cat) => {
        const filteredPosts = obtainPostsWithCategory(publications, cat);
        return {
            params: { cat },
            props: { posts: filteredPosts },
        };
    });
}

const { posts } = Astro.props;
const { cat } = Astro.params;
---

<PageLayout
    headline="TAG"
    subline={cat}
    bgImage="/imgs/caption-bgs/page-caption-blog.svg"
    paratext="粉红缎匹张开，恍惚香气流溢。"
>
    <div class="content">
        <ul>
            {
                posts.map((post) => (
                    <li>
                        <a href={`/tech/post/${post.slug}`}>
                            {post.data.title}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</PageLayout>

<style>
    .content {
        width: 80%;
        margin: 0 auto;
        padding: 0 0 20px 0;
        height: fit-content;
    }

    a {
        color: inherit;
        text-decoration: underline;
        text-decoration-style: wavy;
        text-decoration-color: #2f2e41;
        text-underline-offset: 5px;
    }

    li {
        margin: 20px 0;
    }

    @media screen and (min-width: 640px) {
        a {
            text-decoration: none;
            color: inherit;
        }

        a:hover {
            text-decoration: dashed;
            text-decoration-line: underline;
            text-underline-offset: 3px;
        }
    }
</style>
