---

---

<div class="about-me-wrapper">
    <div>
        <h4>关于本站</h4>

        <p>欢迎来到我的博客站点！</p>

        <p>
            这个站点由 Astro
            构建。目前，正在持续探索和建设中，仍然存在很多不足，我正在不断完善和优化内容。
            站点主要展示我的技术和生活内容，未来会有更多有趣的文章和更新。感谢您的访问和耐心支持！
        </p>

        <p>站点中的句子来源于许嵩的《海上灵光》。Yes, I like him.</p>

        <p class="english">Welcome to my blog site!</p>
        <p class="english">
            This site is built with Astro. It is currently under ongoing
            exploration and development, and there are still many areas for
            improvement. I am continuously working on enhancing and optimizing
            the content. The site mainly showcases my technology and lifestyle
            content, and there will be more interesting articles and updates in
            the future. Thank you for visiting and for your patience and
            support!
        </p>
        <p class="english">
            The sentences on the site are sourced from Vae's "Light on the Sea."
            Yes, I like him.
        </p>
        <h4>关于我</h4>
        <p>芸芸众生相，尘世一蜉蝣。</p>
    </div>
    <div></div>
</div>

<style lang="scss">
    .about-me-wrapper {
        margin: 0 auto;
        padding: 2rem;
        background-color: inherit;
    }

    p.english {
        font-family: "Times New Roman", Times, serif;
        text-align: left;
    }
</style>
