.post-content {

    line-height: 1.75;

    img {
        width: 100%;
    }

    blockquote {
        border-left: 4px solid #C5CAE9;
        margin: 1.2rem 2px;
        font-size: .95rem;
        font-style: italic;
        font-weight: lighter;
        color: #3F51B5;
        padding-left: 10px;
    }

    // 行内代码
    code {
        background-color: #F2F1F1;
        padding: 1px 4px;
        border-radius: 4px;
    }

    // 代码段
    pre {
        border-radius: 8px;
        line-height: 1.25;
        font-family: 'Consolas', 'Courier New', Courier, monospace;
        max-width: 100%;
        padding: 1em;
        

        code{
            background-color: inherit;
            font-family: inherit;
        }

        code .line {
            background-color: inherit;
            text-wrap: wrap;
        }
    }

}

@media  screen and (max-width: 640px) {
     // 代码段
     pre {
        border-radius: 8px;
        font-family: 'Consolas', 'Courier New', Courier, monospace;
        max-width: 100%;
        padding: 1r em;
        font-size: 0.75rem;
    }

}