---
import PageLayout from "../layouts/PageLayout.astro";
import AboutMe from "../components/partial/AboutMe.astro";
---

<PageLayout
    headline="ABOUT"
    bgImage="/imgs/caption-bgs/page-caption-about.svg"
    paratext="城市的尽头，背投无边的烈日，一个和我一模一样的人正朝我走来。"
>
    <div class="content">
        <AboutMe />
    </div>
</PageLayout>

<style>
    .content {
        width: 80%;
        margin: 0 auto;
    }
</style>
