---
import PageLayout from "../layouts/PageLayout.astro";
import HamburgerMenu from "../components/menu/HamburgerMenu.vue";
---

<PageLayout
    headline="HOME"
    bgImage="/imgs/caption-bgs/page-caption-index.svg"
    paratext="向往和平的人放弃了战马，毫不犹豫地走向橄榄树."
>
    <div></div>
</PageLayout>
