---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
    headline="LIFESTYLE"
    bgImage="/imgs/caption-bgs/page-caption-post.svg"
    paratext="爱琴海的码头，傍晚时分，熙来攘往."
>
    <div></div>
</PageLayout>
