---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
    headline="TECHBLOG"
    bgImage="/imgs/caption-bgs/page-caption-post.svg"
    paratext="鸡零狗碎，鸡零狗碎"
>
    <div></div>
</PageLayout>
