---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout
    headline="LIFESTYLE"
    subline="随笔"
    bgImage="/imgs/caption-bgs/page-caption-life.svg"
    paratext="笔随心走，无甚拘束"
>
    <div></div>
</PageLayout>
