---
import PageLayout from "../../layouts/PageLayout.astro";
import { getCollection } from "astro:content";

const essays = await getCollection('essays');
console.log('essay', essays)
---

<PageLayout
    headline="LIFESTYLE"
    subline="随笔"
    bgImage="/imgs/caption-bgs/page-caption-life.svg"
    paratext="笔随心走，无甚拘束"
>
    <div class="essay-list">
        {
            essays.map((essay) => (
                <div class="essay-item">
                    <a href={`/lifestyle/essay/${essay.slug}`}>
                        <h2>{essay.data.title}</h2>
                        <p class="essay-body">
                            {
                                essay.body.replaceAll(" ", "\n")
                            }
                        </p>
                    </a>
                </div>
            ))
        }
    </div>
</PageLayout>

<style>
    .essay-list{
        
    }

    .essay-item{
        width: 200px;
        text-wrap: wrap;
    }
</style>
