---
import PageLayout from "../../layouts/PageLayout.astro";
import { getCollection } from "astro:content";

const essays = await getCollection("essays");
---

<PageLayout
    headline="LIFESTYLE"
    subline="随笔"
    bgImage="/imgs/caption-bgs/page-caption-life.svg"
    paratext="笔随心走，无甚拘束"
>
    <div class="essay-list">
        {
            essays.map((essay) => (
                <hr/>
                <div class="essay-item">
                    <div class="essay-title">
                        <a href={`/lifestyle/essay/${essay.slug}`} >{essay.data.title}</a>
                        {
                            essay.data.author == "AI" && 
                            <i class="fa-solid fa-robot" style="color: #DFDFDF;" title={essay.data.description}></i>
                        }
                    </div>
                    <pre class="essay-body">{essay.body}</pre>
                </div>
            ))
        }
        <hr/>
    </div>
</PageLayout>

<style>
    .essay-list {
        padding: 20px 0;
        column-count: 1;
        padding: 10px 20px;
    }
    .essay-item {
        margin: 20px auto;
        text-wrap: wrap;
        color: black;
        font-family: "KaiTi", "楷体", "serif";
    }

    .essay-title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .essay-body {
        font-size: 0.95rem;
        font-family: inherit;
        text-wrap: wrap ;
    }

    .continue {
        color: #ff6884;
        text-decoration: none;
    }

    hr {
        border: none;
        border-top: 1px dashed lightgray;
    }

    @media screen and (min-width: 640px) {
        .essay-list {
            width: 80%;
            margin: 0 auto;
        }

        a:hover{
            color: #ff6884;
        }
        /* .essay-item {
            width: 200px;
            break-inside: avoid-column;
            color: black;
            text-wrap: wrap;
            font-family: "KaiTi", "楷体", "serif";
        }

        .essay-body {
            font-family: inherit;
            background-color: #ff6884;
            text-wrap: wrap;
        }

        hr {
            display: none;
        } */
    }
</style>
