---
import PageLayout from "../../layouts/PageLayout.astro";
import { getCollection } from "astro:content";

const essays = await getCollection("essays");
---

<PageLayout
    headline="LIFESTYLE"
    subline="随笔"
    bgImage="/imgs/caption-bgs/page-caption-life.svg"
    paratext="笔随心走，无甚拘束"
>
    <div class="essay-list">
        {
            essays.map((essay) => (
                <div class="essay-item">
                    <a
                        class="essay-title"
                        href={`/lifestyle/essay/${essay.slug}`}
                    >
                        <h2>{essay.data.title}</h2>
                    </a>
                    <pre class="essay-body">{essay.body}</pre>
                    <hr />
                </div>
            ))
        }
    </div>
</PageLayout>

<style>
    .essay-list {
        padding: 20px 0;
        column-count: 1;
    }
    .essay-item {
        margin: 0 auto;
        width: 200px;
        text-wrap: wrap;
        color: black;
        font-family: "KaiTi", "楷体", "serif";
    }

    .essay-title {
        color: black;
        text-decoration: none;
        font-size: 0.95rem;
    }

    .essay-body {
        font-size: 0.95rem;
        font-family: inherit;
    }

    .continue {
        color: #ff6884;
        text-decoration: none;
    }

    hr {
        border: none;
        border-top: 1px dashed lightgray;
    }

    @media screen and (min-width: 640px) {
        .essay-list {
            column-count: 3;
        }
        .essay-item {
            width: calc(100% / 3);
            break-inside: avoid-column;
            color: black;
            text-wrap: wrap;
            font-family: "KaiTi", "楷体", "serif";
        }

        .essay-body {
            font-family: inherit;
        }

        hr {
            display: none;
        }
    }
</style>
