---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout
    headline="LIFESTYLE"
    subline="画廊"
    bgImage="/imgs/caption-bgs/page-caption-life.svg"
    paratext="忽略那些站在时代浪尖上摇曳生姿的，关注那些被时光过滤后仍然坚挺的"
>
    <div></div>
</PageLayout>
