---
import PageLayout from "../../layouts/PageLayout.astro";
import CategoryItem from "../../components/partial/CategoryItem.astro";
import { fetchPublications } from "../../scripts/post-script";

const basepath = Astro.url.pathname;
const publications = await fetchPublications();
const cats = [
    ...new Set(publications.map((post) => post.data.categories).flat()),
];
---

<PageLayout
    headline="TECHBLOG"
    subline="分类"
    bgImage="/imgs/caption-bgs/page-caption-blog.svg"
    paratext="粉红缎匹张开，恍惚香气流溢。"
>
    <div class="tag">
        {
            cats.map((cat) => (
                <CategoryItem text={cat} href={`${basepath}/${cat}`} />
            ))
        }
    </div>
</PageLayout>

<style>
    .tag {
        width: 80%;
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
    }
</style>
