---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout
    headline="TECHBLOG"
    subline="项目"
    bgImage="/imgs/caption-bgs/page-caption-blog.svg"
    paratext="你在渔市上，寻找下弦月。我在月光下，经过小河流。"
>
    <div></div>
</PageLayout>
